.container {
  margin: 0 auto;
  padding-top: 6rem;
  width: 70vw;
}

.title {
  margin: 0 0 2rem 0;
}

.description {
  margin: 0 0 2rem 0;
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 90vw;
  }
}