.nameLink,
.navLink {
  display: inline-block;
  height: 100%;
  margin: 0 1.2rem;
  text-decoration: none;
  color: #fff;
}

.nameLink {
  padding: 0 0 8px 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.navLink {
  padding: 12px 0 17px 0;
  font-size: 1rem;
}

.navLink:hover {
  border-bottom: 1px solid #fff;
}

.activeStyle {
  border-bottom: 1px solid #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 10px;
  width: 100%;
  z-index: 99;
}

.headerOne {
  height: 100px;
  transition: 0.5s ease;
}

.headerTwo {
  height: 60px;
  background: #0F2027;
  transition: 1s ease;
  box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,.8);
}

a {
  background-image: none;
}

.activeTest {
  border: 3px solid red;
}

@media (max-width: 550px) {
  .navLink {
    display: none;
  }
  .headerOne {
    height: 60px;
  }
}